process.container = 'quay.io/nextflow/bash'

nextflow.enable.moduleBinaries = true

conda.enabled = true

params {
    help = false
}

profiles {
    crick { includeConfig 'profiles/crick.conf' }
    crick_dev { includeConfig 'profiles/crick_dev.conf' }
    local { includeConfig 'profiles/local.conf' }
    rosalind { includeConfig 'profiles/rosalind.conf' }
}

env {
    PYTHONNOUSERSITE = 'true'
}
